p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: bold;
    /*font-variant: small-caps;*/
    font-style: italic;
    line-height: 50px;

    color: gold;
    text-align: justify;
    text-indent: 50px;
    text-decoration: line-through;
    text-transform: capitalize;
    letter-spacing: 5px;
    word-spacing: 10px;
}

a{
    text-decoration: none;
}

body{
    background-color: lightblue;
    background-image: url(https://storage.googleapis.com/subtlepatterns-production/designers/subtlepatterns/uploads/watercolor.png);
    /*background-repeat: no-repeat;*/
    background-position: bottom, right;
}